body{
    margin: 0;
}

.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-areas: "nav"
                        "header"
                        "section1"
                        "section2"
                        "section3"
                        "section4"
                        "section5"
                        "section6"
                        "footer";
grid-template-rows: 70px 700px 550px 800px 550px 400px 400px 300px 700px;
}

nav{
    grid-area: nav;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
    height: auto;
}
.case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin:  0 auto;
    
    
}

.list-menu ul {
    list-style: none;
}

.list-menu li {
    display: inline-block;
    margin-left: 50px;
}
  
.list-menu a {
    text-decoration: none;
    color: rgb(95, 91, 91);
}

.list-menu a:hover{
    color: rgb(216, 210, 210);
}
.list-menu img:hover{
    color: rgb(216, 210, 210);
}

header {
    background-image: url(css-layout-facebook-projet/image-facebook.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: header;
}

.header-text{
    position: relative;
    top: 120px;
    left: 50px;
}

.header-text ul {
    list-style: none;
    color: white;
}

.texte-titre {
    font-size: 50px;
}

.header-text a {
    text-decoration: none;
}

.header-text a:hover{
    color: rgb(216, 210, 210);
}

.section1{
    grid-area:section1 ;
    background-color: rgb(233, 233, 233);
}

.section1 ul {
    list-style: None;
}

.form {
    display: grid ;
    grid-template-rows: 100px 200px;
    
}

.plateform {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 20px;
    justify-content: center;
    grid-template-rows: 350px;

}

.plateform img {
    width: 50px;
}

.plateform1 {
    background-color: #fff;
}

.plateform2 {
    background-color: #fff;
}

.plateform3 {
    background-color: #fff;
}

.plateform4 {
    background-color: #fff;
}

.titre-plateform {
    font-size: 20px;
    font-weight: 600;
    color: rgb(49, 47, 47) ;
}

.section2 {
    grid-area: section2;
}

.section2 ul {
    list-style: none;
}

.form2 {
    display: grid;
    grid-template-rows: 100px 300px 300px;
    grid-template-columns: 350px 350px 350px;
    gap: 20px;
    justify-content: center;
    
    
}

.titresec2 {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;

}

.tool1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border: 1px solid gray;

}

.tool2{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border: 1px solid gray;
}

.tool3{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    border: 1px solid gray;
}

.tool4{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    border: 1px solid gray;
}

.tool5{
    grid-row: 3/ 4;
    grid-column: 2 / 3;
    border: 1px solid gray;
}

.tool6{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    border: 1px solid gray;
}

.titretool {
    font-size: 20px;
    display: inline-block;
    padding-bottom: 20px;
    font-weight: 500;
}

.aa {
    color:aqua;
    border-bottom: 3px solid aqua;
}

.bb {
    color:rgb(87, 133, 78);
    border-bottom: 3px solid rgb(87, 133, 78);
}

.cc {
    color:rgb(37, 54, 128);
    border-bottom: 3px solid rgb(37, 54, 128);
}

.dd {
    color:rgb(255, 136, 0);
    border-bottom: 3px solid rgb(255, 136, 0);
}

.ee{
    color:rgb(211, 72, 62);
    border-bottom: 3px solid rgb(211, 72, 62);
}

.ff{
    color:rgb(111, 49, 168);
    border-bottom: 3px solid rgb(111, 49, 168);
}

.section3 {
    grid-area: section3;
    
    
}

.section3 ul{
    list-style: none;
}
.form3{
    background-color: rgb(58, 92, 58);
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.imgset img{
    width: 700px;
    height: 550px;
}

.devsup{
    justify-self: center;
    align-self: center;
    color: white;
}

.step{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    
}

.step a {
    text-decoration: none;
    color: white;
}


.section4{
    grid-area: section4;
    background-color: rgb(232, 221, 238);
}

.form4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.text4 ul {
    list-style: none;
    color: rgb(133, 87, 173);
}

.brand{
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(3, 150px) ;
    gap: 15px;
}

.brand img {
    width: 150px;
    height: 150px;
    border: 1px solid gray;
}

.succtext {
    font-weight: 500;
    font-size: 30px;
    
}

.section5{
    grid-area: section5;
}

.section5 ul {
    list-style: none;
}

.news {
    display: grid;
    grid-template-rows: 50px 400px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.news0{
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
}

.news1{
    grid-row: 2/ 3;
    grid-column: 1 / 2;
}

.news2{
    grid-row: 2/ 3;
    grid-column: 2 / 3;
}

.news3{
    grid-row: 2/ 3;
    grid-column: 3 / 4;
}

.news a {
    text-decoration: none;
    color: black;
}

.news a:hover {
    cursor: pointer;
}

.section6{
    grid-area: section6;
    background-color: rgb(240, 179, 189);
    height: 300px;
}

.form6{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.textform6{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.textform6 ul{
    list-style: none;
}

.banner {
    font-size: 20px;
    font-weight: 500;
    color: rgb(216, 37, 96);
}

.ttt {
    color: rgb(216, 37, 96);
}

footer{
    grid-area: footer;
    background-color:rgb(232, 221, 238) ;
}

footer ul {
    list-style: none;
}

footer a{
    text-decoration: none;
    color: black;
}

.footer{
    display: grid;
    grid-template-rows: 500px 200px;
    
    justify-items: center;
    align-items: center;
    align-content: center;
}

.footer1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 80%;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.footlogo li{
    display: inline-block;
    margin-left: 10px;
}

.footlogo li img{
    width: 25px;
}

.sec1 img{
    width: 150px;
}